.menu {
  position: relative;

  &:hover {
    .title {
      border: 1px outset;
      padding: 2px 7px;
      display: inline-block;
    }

    .menu-sub {
      display: block;
    }
  }

  .title {
    cursor: pointer;
    background-color: transparent;
    border: 0;
    outline: 0;
    text-decoration: underline;
    padding: 3px 8px;
    font-size: 14px;
  }

  .menu-sub {
    display: none;
    position: absolute;
    border: 1px outset;
    z-index: 10;
    background-color: #C0C0C0;
    left: -2px;

    .item {
      cursor: pointer;
      width: 100px;
      padding: 5px 15px;
      font-size: 14px;

      &:hover,
      &.active {
        color: #fff;
        background-color: #33407F;
      }
    }
  }
}
